.container{
    height: 82rem;
    width: 100%;
    max-width: 76.6rem;
    padding: 6rem 17.8rem 7.4rem 17.8rem;
    background-color: #fff;
    display: grid;
    justify-content: center;

    @media (max-width: 767px) {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    
}

